<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wolfbe.configcenter.common.mapper.ConfigGroupMapper">
  <resultMap id="BaseResultMap" type="com.wolfbe.configcenter.common.model.ConfigGroup">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="gpswd" jdbcType="VARCHAR" property="gpswd" />
    <result column="create_uid" jdbcType="BIGINT" property="createUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>