<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wolfbe.configcenter.common.mapper.ConfigTestMapper">
  <resultMap id="BaseResultMap" type="com.wolfbe.configcenter.common.model.ConfigTest">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="gname" jdbcType="VARCHAR" property="gname" />
    <id column="ckey" jdbcType="VARCHAR" property="ckey" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="ipallow" jdbcType="VARCHAR" property="ipallow" />
    <result column="grpallow" jdbcType="VARCHAR" property="grpallow" />
    <result column="commit_time" jdbcType="TIMESTAMP" property="commitTime" />
    <result column="cval" jdbcType="LONGVARCHAR" property="cval" />
  </resultMap>
</mapper>