<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wolfbe.configcenter.common.mapper.ConfigHistoryMapper">
  <resultMap id="BaseResultMap" type="com.wolfbe.configcenter.common.model.ConfigHistory">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="ckey" jdbcType="VARCHAR" property="ckey" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="cval" jdbcType="LONGVARCHAR" property="cval" />
  </resultMap>
</mapper>